.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.cardWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform: scale(0.762037037037037);
}

.cardSection {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 1450px;
  height: 253px;
  margin-top: -72px;
  margin-left: -1312px;
  z-index: 1;
  animation: musinsa00 300ms 100ms forwards;
}

@keyframes musinsa00 {
  0% {
    margin-top: -72px;
    margin-left: -1312px;
  }
  100% {
    margin-top: -137px;
    margin-left: -564px;
  }
}

.box {
  position: relative;
  display: flex;
}

.box div {
  z-index: 99;
  width: 136px;
  position: absolute;
  transform: rotate(-5deg);
}

.box div:nth-child(1) {
  top: 67px;
  left: 2px;
}

.box div:nth-child(2) {
  top: 67px;
  left: 9px;
  animation: musinsa02 80ms 1280ms forwards;
}

@keyframes musinsa02 {
  0% {
    top: 67px;
    left: 9px;
  }
  100% {
    top: 52px;
    left: 181px;
  }
}

.box div:nth-child(3) {
  top: 66px;
  left: 15px;
  animation: musinsa03 100ms 1200ms forwards;
}

@keyframes musinsa03 {
  0% {
    top: 66px;
    left: 15px;
  }
  100% {
    top: 36px;
    left: 362px;
  }
}

.box div:nth-child(4) {
  top: 66px;
  left: 21px;
  animation: musinsa04 120ms 1100ms forwards;
}

@keyframes musinsa04 {
  0% {
    top: 66px;
    left: 21px;
  }
  100% {
    top: 22px;
    left: 543px;
  }
}

.box div:nth-child(5) {
  top: 66px;
  left: 28px;
  animation: musinsa05 140ms 980ms forwards;
}

@keyframes musinsa05 {
  0% {
    top: 66px;
    left: 28px;
  }
  100% {
    top: 6px;
    left: 725px;
  }
}

.box div:nth-child(6) {
  top: 65px;
  left: 36px;
  animation: musinsa06 160ms 840ms forwards;
}

@keyframes musinsa06 {
  0% {
    top: 65px;
    left: 36px;
  }
  100% {
    top: -12px;
    left: 906px;
  }
}

.box div a {
  position: relative;
  z-index: 2;
  display: block;
  padding-bottom: 40px;
  transition: all 0.5s;
  cursor: pointer;
}

.box div a:hover {
  z-index: 3;
  animation: cardsBouncewook 0.6s forwards cubic-bezier(0.6, 0.1, 0.2, 1);
}

@keyframes cardsBouncewook {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.32);
  }
  70% {
    transform: scale(1.28);
  }
  100% {
    transform: scale(1.3);
  }
}

.box div a img {
  width: 100%;
  vertical-align: top;
  box-shadow: 11px 15px 13px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.box div a span {
  position: absolute;
  left: 50%;
  bottom: -20px;
  visibility: hidden;
  opacity: 0;
  width: 130%;
  margin-top: 5px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.box div a:hover span {
  visibility: visible;
  opacity: 1;
  bottom: 0;
  font-weight: 500;
}

.popupContainer {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.48);
  backdrop-filter: blur(48px);
  -webkit-backdrop-filter: blur(48px); /* Safari 9+ */
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popupWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.popupContentWrapper {
  overflow: hidden;
  box-sizing: content-box;
}

.popupContent {
  position: relative;
  width: 800px;
  transform-origin: top center;
  box-sizing: border-box;
}

.cardView {
  position: relative;
  height: 570px;
  overflow: hidden;
  width: 800px;
}

.cardImg {
  width: 296px;
  height: 468px;
  float: left;
  transform: translateX(0);
  opacity: 1;
  transition: all 0.5s;
}

.cardImg img {
  width: 100%;
  vertical-align: top;
  border: none;
}

.cardInfo {
  float: left;
  padding: 100px 0 0 70px;
  width: calc(100% - 296px);
}

.cardType {
  opacity: 1;
  transition: all 0.6s 0.4s;
  color: #fffbf4;
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;
}

.cardTit {
  opacity: 1;
  transition: all 0.6s 0.5s;
  margin-top: 4px;
  line-height: 80px;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
}
